<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Profile</h1>
    <div id="container-body">

    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>
        let userData;
        $(document).ready(function () {
            $.ajax({
                url: "http://127.0.0.1:8000/notes/",
                headers: {
                    'Authorization': `Bearer ${window.localStorage.getItem('accessToken')}`
                },
                type: "GET",
                tokenFlag: true,
                dataType: 'html',
                success: function (data) {
                    console.log(data)
                    $('#container-body').html(data);
                },
                error: handleAjaxError
            });
        });

        function handleAjaxError(rs, e) {
            if (rs.status == 401) {
                if (this.tokenFlag) {
                    this.tokenFlag = false;
                    if (obtainAccessTokenWithRefreshToken()) {
                        this.headers["Authorization"] = `Bearer ${window.localStorage.getItem('accessToken')}`
                        $.ajax(this);
                    }
                }
            } else {
                console.error(rs.responseText);
            }
        }

        function obtainAccessTokenWithRefreshToken() {
            let flag = true;
            let formData = new FormData();
            formData.append('refresh', window.localStorage.getItem('refreshToken'));
            $.ajax({
                url: 'http://127.0.0.1:8000/accounts/refreshtoken/',
                type: "POST",
                data: formData,
                async: false,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    window.localStorage.setItem('accessToken', data['access']);
                },
                error: function (rs, e) {
                    if (rs.status == 401) {
                        flag = false;
                        window.location.href = "/login/";
                    } else {
                        console.error(rs.responseText);
                    }
                }
            }); // end ajax
            return flag
        }
    </script>

</body>

</html>