<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Profile</h1>
    <input type="button" value="logout" id="logout-form">
    <a href="{% url 'addnote' %}">Add Note</a>
    <div id="container-body">
        <form action="" method="post">
            <table id="mytable">
            </table>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-------------------------- Api call using Ajax ---------->

    <script type="text/javascript">

        //----------------  fetch data from Database---------------

        $(document).ready(function () {
            $.ajax({
                url: "http://127.0.0.1:8000/notes/",
                headers: {
                    'Authorization': `Bearer ${window.localStorage.getItem('accessToken')}`
                },
                type: "GET",
                tokenFlag: true,
                dataType: 'json',
                contentType: 'application/json',
                enctype: 'multipart/form-data',
                success: function (data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        var row = $('<h3>' + data[i].title + '</h3><p>' + data[i].body + '</p><img src ="' +
                            data[i].image + '"></img><br><i>' + data[i].date + '</i><br><input type="button" value="Edit" id ="edit" noteid="update" noteid=' + data[i].id + '><input type="button" value="Delete" id="delete" noteid=' + data[i].id + '><hr>');
                        $('#mytable').append(row);


                    }
                },
                error: handleAjaxError
            });
        });

        // -------------------- delete data from database ---------------
        $(document).ready(function () {
            $("#delete").click(function () {
                let id_number = $(this).id;
                console.log(id_number);

                // alert(id_number);
                // $.ajax({
                //     url: 'http://127.0.0.1:8000/notes/' + id_number + '',
                //     type: 'DELETE',
                //     data: {},
                //     contentType: 'application/json',
                //     dataType: 'text',
                //     error: function (result) { },
                //     success: function (result) { }
                // });
            });
        });

        function handleAjaxError(rs, e) {
            if (rs.status == 401) {
                if (this.tokenFlag) {
                    this.tokenFlag = false;
                    if (obtainAccessTokenWithRefreshToken()) {
                        this.headers["Authorization"] = `Bearer ${window.localStorage.getItem('accessToken')}`
                        $.ajax(this);
                    }
                }
            } else {
                console.error(rs.responseText);
            }
        }

        function obtainAccessTokenWithRefreshToken() {
            let flag = true;
            let formData = new FormData();
            formData.append('refresh', window.localStorage.getItem('refreshToken'));
            $.ajax({
                url: 'http://127.0.0.1:8000/accounts/refreshtoken/',
                type: "POST",
                data: formData,
                async: false,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    window.localStorage.setItem('accessToken', data['access']);
                },
                error: function (rs, e) {
                    if (rs.status == 401) {
                        flag = false;
                        window.location.href = "/webapp/login/";
                    } else {
                        console.error(rs.responseText);
                    }
                }
            }); // end ajax
            return flag

        }

        //----------------------------User Logout scripts------------------------
        $("#logout-form").click(function (event) {
            event.preventDefault();
            window.localStorage.removeItem('refreshToken');
            window.localStorage.removeItem('accessToken');
            window.location.href = "/webapp/login/";
        });



    </script>

</body>

</html>